<%- include('template/header'); %>
<body>
    <h1>Estos son los datos personales </h1>

<nav>
	<a href="#">Correo</a>
    <a href="#">-----</a>
	<a href="#">Celular</a>
	<a href="#">-----</a>
	<a href="#">Nombre</a>
	<a href="#">Jarimices@gmail.com</a>
	<a href="#"style="margin-left:50px;">3216692365</a>
	<a href="#"style="margin-left:120px;">Jarrison Stived</a>
	<div class="animation start-home"></div>
</nav>


<p>
  By <span>Jarison Stived</span>
</p>

</body>
