<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
    <script src="./js/main.js"></script>
    <title>Document</title>
</head>

<ul>
    <li><a href="#Inicio">Inicio</a></li>
    <li style="float:left"><a href="educacion">Educacion</a>
    <li style="float:left"><a href="/laboral">Laboral</a>
    <li style="float:left"><a href="/datos">Datos personales</a>
    <li style="float:left"><a href="/habilidades">Habilidades</a>
        <li style="float:left"><a href="/conocimientos">Conocimientos</a>
    <li style="float:right"><a class="active" href="#Salida">Salida</a></li>
  </ul>
  